//
// ---------- COLORS ----------

$primal-green: #00cfa5;
$primal-blue: #02bfc4;

//
// ---------- NAVIGATION ----------

$gray: #888888;
$light-gray: #d9d9d9;
$dark-gray: #232423;

//
// ---------- BASE ----------

$light: #ffffff;
$dark: #000000;

//
// ---------- ERROR & SUCCESS ----------

$error: #fe0000;
$error-bg: rgba(254, 0, 0, 0.3);
$success: #03a63c;
$success-bg: rgba(0, 230, 64, 0.3);
