.container-card {
	display: flex;
	flex-direction: row;
}

.btn-hotels {
	@include Button;
	margin: 50px;
}
.card {
	@include cards;
	width: 70%;
	max-width: 1400px;
	padding: 20px;
	margin: 0 auto;
	border-radius: 0;
	z-index: 100;
	border-bottom: 1px solid $light-gray;

	h3 {
		font-family: "adam";
		font-size: 40px;
		margin: 30px 0;
	}

	img {
		width: 400px;
		height: 280px;
		border-radius: 5px;
		margin-bottom: 50px;
	}

	div {
		min-width: 400px;
	}
}

.card:first-child {
	margin-top: 150px;
	border-radius: 5px 5px 0 0;
}

.card-description {
	padding: 0 50px;
	margin-bottom: 50px;
}

//
// ----- BUTTON EFFECT ----- //
.cta {
	position: relative;
	padding: 10px 15px;
	letter-spacing: 4px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	font-size: 25px;
	margin: 50px;

	&:hover {
		text-decoration: none;
	}

	&.type2 {
		color: $dark;
	}

	&.type2:hover {
		color: $primal-blue;
	}

	&.type2:after,
	&.type2:before {
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: $primal-blue;
		transition: all 0.3s ease;
		transform: scale(0.85);
	}

	&.type2:hover:before {
		top: 0;
		transform: scale(1);
		background-color: $light-gray;
	}

	&.type2:hover:after {
		transform: scale(1);
		background-color: $light-gray;
	}
}

//
// MEDIA QUERIES ---------------

@media only screen and (max-width: 1300px) {
	.container-card {
		flex-direction: column;
	}

	.card-description {
		padding: 0;
		width: 70%;
		margin: 15px auto;
	}

	.btn-hotels {
		margin: 10px 15%;
		margin-bottom: 100px;
	}

	.card {
		padding: 20px;

		h3 {
			margin: 20px 15%;
		}

		img {
			display: block;
			width: 70%;
			height: 50%;
			margin: 0 auto;
		}
	}

	.cta {
		margin: 0 0 50px 0;
	}

	.vm-btn {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

@media only screen and (max-width: 800px) {
	.card-description {
		width: 100%;
		margin: 15px 0;
	}

	.btn-hotels {
		width: 100%;
		margin: 0;
		margin-bottom: 50px;
	}

	.card {
		img {
			width: 100%;
		}

		h3 {
			margin: 30px 0;
		}

		div {
			min-width: 200px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.card {
		width: 90%;
		padding: 20px;
	}
}

@media only screen and (max-width: 500px) {
	.card-description {
		white-space: nowrap;
		width: 300px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
