body {
	font-family: gill-sans-nova, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.bg-image {
	display: flex;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: -1;

	img {
		display: block;
		width: 50%;
	}
}

form {
	padding: 40px;
}

input,
textarea {
	@include inputs;
}

.container {
	background: $light;
	color: $dark;
	border-radius: 5px;
	width: 80%;
	max-width: 1400px;
	margin: 150px auto;
	padding: 20px;
	z-index: 100;
	box-shadow: 0px 10px 23px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.loading {
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
	font-size: 40px;

	h2 {
		margin-top: 100px;
	}
}

.success {
	@include validation;
	border: 2px solid $success;
	background: $success-bg;
	color: $success;
}

.error {
	@include validation;
	color: $error;
	background: $error-bg;
	border: 2px solid $error;
	margin-top: -10px;
}

// ---------- BACK BUTTON ON PAGE CREATE AND DETAILS ----------

.back-btn {
	background: $light;
	color: $primal-blue;
	cursor: pointer;
	font-family: gill-sans-nova, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	text-transform: uppercase;
	padding: 0;
	margin-top: 10px;
	border: 0;
	transition: all 400ms;
	border-radius: 5px;
	width: auto;
	position: relative;

	&::before {
		content: "\21A9";
		position: absolute;
		left: 0;
		top: 15%;
		right: 5%;
		bottom: 0;
		opacity: 0;
	}

	&:hover {
		transition: all 0.5s;
		border-radius: 5px;
		padding: 0 10px 0 30px;
		color: $primal-blue;
		text-decoration: none;

		&::before {
			opacity: 1;
			transition: all 0.5s;
		}
	}
}

//
// MEDIA QUERIES ---------------

@media only screen and (max-width: 800px) {
	input,
	textarea {
		width: 100%;
	}

	.error {
		width: 100%;
	}

	.bg-image {
		img {
			width: 100%;
		}

		.second {
			display: none;
		}
	}
}

@media only screen and (max-width: 450px) {
	.container {
		width: 90%;
	}
}
