.detail-card {
	@include cards;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 10px auto;
	width: 100%;
	max-width: 1900px;
	padding: 100px 0 0 0;
	box-shadow: none;

	div {
		margin: 0 20px;
		width: 40%;
	}

	h2 {
		border-bottom: 2px solid $dark;
		width: 70%;
		padding-bottom: 5px;
		margin: 0 auto;
	}

	p {
		margin-top: 30px;
	}

	img {
		width: 100%;
		border-radius: 5px;
	}
}

.extra-info {
	display: flex;
	justify-content: space-between;
	width: 100% !important;
	margin: 0 !important;
}

.btn-icons {
	margin: 0 10px;
	font-size: 23px;
}

//
// MEDIA QUERIES ---------------

@media only screen and (max-width: 1400px) {
	.detail-card {
		flex-direction: column;
		justify-content: center;

		div {
			width: 90%;
			margin: 0 auto;
		}
	}
}

@media only screen and (max-width: 600px) {
	.extra-info {
		flex-direction: column;

		p {
			margin: 10px 0;
		}
	}
}

@media only screen and (max-width: 450px) {
	.detail-card {
		div {
			margin: 0;
			width: 100%;
		}

		h2 {
			width: 100%;
		}

		p {
			margin-top: 30px;
		}

		img {
			width: 100%;
		}
	}
}
